Repository Azure/azure-sdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @adrianhall, @kyle-patterson, @JonathanGiles, @JeffreyRichter, @KrzysztofCwalina, @maggiepint, @Kurtzeborn, @weshaggard, @mikeharder, @johanste, @bterlson, @loarabia, @czubair, @jeremymeng, @alzimmermsft, @ShivangiReja, @xiangyan99

Add new release folder structure
  _data/sidebars/releases_sidebar.yml
  releases/2020-08/dotnet.md
  releases/2020-08/index.md
  releases/2020-08/java.md
  releases/2020-08/js.md
  releases/2020-08/python.md
Owners: @czubair, @weshaggard, @kyle-patterson, @loarabia, @jeremymeng, @alzimmermsft, @ShivangiReja, @xiangyan99

Add new release folder structure (#1603)
  _data/sidebars/releases_sidebar.yml
  releases/2020-08/dotnet.md
  releases/2020-08/index.md
  releases/2020-08/java.md
  releases/2020-08/js.md
  releases/2020-08/python.md
Owners: @czubair, @weshaggard, @kyle-patterson, @loarabia, @jeremymeng, @alzimmermsft, @ShivangiReja, @xiangyan99

Updated release docs for azure-cosmos release 4.3.0
  releases/2020-08/java.md
Owners: @kyle-patterson, @loarabia, @czubair, @jeremymeng, @alzimmermsft, @ShivangiReja, @xiangyan99

Update package index with latest published versions
  _data/releases/latest/dotnet-packages.csv
  _data/releases/latest/java-packages.csv
  _data/releases/latest/js-packages.csv
Owners: @czubair, @weshaggard

Added some minor clarifications
  docs/python/clouddiscover.md
Owners: @johanste

Updated release docs for azure-cosmos release 4.3.0 (#1604)
  releases/2020-08/java.md
Owners: @kyle-patterson, @loarabia, @czubair, @jeremymeng, @alzimmermsft, @ShivangiReja, @xiangyan99

Update package index with latest published versions (#1605)
  _data/releases/latest/dotnet-packages.csv
  _data/releases/latest/java-packages.csv
  _data/releases/latest/js-packages.csv
Owners: @czubair, @weshaggard

Responding to feedback.
  _posts/2020-08-11-packaging-tools-and-repositories.md
Owners: @kyle-patterson, @loarabia

Mark new package links as NA
  eng/scripts/Query-Azure-Packages.ps1
Owners: @weshaggard

Update package index with latest published versions
  _data/releases/latest/dotnet-packages.csv
  _data/releases/latest/java-packages.csv
Owners: @czubair, @weshaggard

Update package index with latest published versions (#1607)
  _data/releases/latest/dotnet-packages.csv
  _data/releases/latest/java-packages.csv
Owners: @czubair, @weshaggard

Update package index with latest published versions
  _data/releases/latest/dotnet-packages.csv
  _data/releases/latest/java-packages.csv
Owners: @czubair, @weshaggard

Add example of extensible enum constants
  docs/dotnet/implementation.md
Owners: @KrzysztofCwalina

Update package index with latest published versions (#1609)
  _data/releases/latest/dotnet-packages.csv
  _data/releases/latest/java-packages.csv
Owners: @czubair, @weshaggard

Adding guidance about how to use internal structures on public headers
  docs/clang/implementation.md
Owners: @kyle-patterson, @JeffreyRichter

enhance redaction and sample
  docs/clang/implementation.md
Owners: @kyle-patterson, @JeffreyRichter

Add mustnot for exposing internal implementation
  docs/clang/implementation.md
Owners: @kyle-patterson, @JeffreyRichter

Update _posts/2020-08-11-packaging-tools-and-repositories.md
  _posts/2020-08-11-packaging-tools-and-repositories.md
Owners: @kyle-patterson, @loarabia

Update _posts/2020-08-11-packaging-tools-and-repositories.md
  _posts/2020-08-11-packaging-tools-and-repositories.md
Owners: @kyle-patterson, @loarabia

Apply suggestions from code review
  docs/clang/implementation.md
Owners: @kyle-patterson, @JeffreyRichter

Adding guidance about how to use internal structures on public headers (#1611)
  docs/clang/implementation.md
Owners: @kyle-patterson, @JeffreyRichter

Update language to refer to new release tag formatting
  docs/policies/releases.md
Owners: @maggiepint, @Kurtzeborn, @weshaggard, @mikeharder

Add vscode codespaces to readme
  CONTRIBUTING.md
Owners: none

Update package index with latest published versions
  _data/releases/latest/dotnet-packages.csv
  _data/releases/latest/js-packages.csv
  _data/releases/latest/python-packages.csv
Owners: @czubair, @weshaggard

only search first column
  js/customscripts.js
Owners: none

Update package index with latest published versions (#1616)
  _data/releases/latest/dotnet-packages.csv
  _data/releases/latest/js-packages.csv
  _data/releases/latest/python-packages.csv
Owners: @czubair, @weshaggard

Add GitHub Codespaces support (#1600)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .vscode/tasks.json
  CONTRIBUTING.md
  Gemfile.lock
Owners: none

add notes column
  js/customscripts.js
Owners: none

only search first column (#1617)
  js/customscripts.js
Owners: none

Update _posts/2020-08-11-packaging-tools-and-repositories.md
  _posts/2020-08-11-packaging-tools-and-repositories.md
Owners: @kyle-patterson, @loarabia

Update _posts/2020-08-11-packaging-tools-and-repositories.md
  _posts/2020-08-11-packaging-tools-and-repositories.md
Owners: @kyle-patterson, @loarabia

Update _posts/2020-08-11-packaging-tools-and-repositories.md
  _posts/2020-08-11-packaging-tools-and-repositories.md
Owners: @kyle-patterson, @loarabia

Update package index with latest published versions
  _data/releases/latest/dotnet-packages.csv
  _data/releases/latest/js-packages.csv
  _data/releases/latest/python-packages.csv
Owners: @czubair, @weshaggard

Update the guidelines to call out how to select the initial vers… (#1588)
  docs/dotnet/introduction.md
  docs/python/implementation.md
  docs/typescript/implementation.md
Owners: @KrzysztofCwalina, @johanste, @bterlson

Update package index with latest published versions (#1622)
  _data/releases/latest/dotnet-packages.csv
  _data/releases/latest/js-packages.csv
  _data/releases/latest/python-packages.csv
Owners: @czubair, @weshaggard

Fix title.
  _posts/2020-08-11-packaging-tools-and-repositories.md
Owners: @kyle-patterson, @loarabia

Removed vendoring phrase.
  _posts/2020-08-11-packaging-tools-and-repositories.md
Owners: @kyle-patterson, @loarabia

CancellationToken updates
  docs/ios/design.md
Owners: none

Update package index with latest published versions
  _data/releases/latest/dotnet-packages.csv
  _data/releases/latest/java-packages.csv
  _data/releases/latest/js-packages.csv
Owners: @czubair, @weshaggard

Update docs/ios/design.md
  docs/ios/design.md
Owners: none

.github/CODEOWNERS:

#####
##### TEAM:
#####
#####   Architecture:
#####       Brian Terlson               @bterlson           TypeScript / JavaScript
#####       Jeffrey Richter             @JeffreyRichter     At large
#####       Jonathan Giles              @JonathanGiles      Java
#####       Krzysztof Cwalina           @KrzysztofCwalina   .NET
#####       Johan Stenberg              @johanste           Python
#####       Gor Nishanov                @gornishanov        C / C++
#####       Kyle Patterson              @kyle-patterson     Program Management
#####
#####   Engineering Systems:
#####       Maggie Pint                 @maggiepint         Program Management
#####       Mike Harder                 @mikeharder         Eng. Sys. Engineer
#####       Wes Haggard                 @weshaggard         Eng. Sys. Engineer
#####
#####   Team Management:
#####       Peter Marcu                 @petermarcu         Dev Management
#####       Larry Olson                 @loarabia           PM Management
#####       Scott Kurtzeborn            @Kurtzeborn         Eng. Sys. Dev Lead
#####       Alex Ghiondea               @AlexGhiondea       Dev Lead - TS and .NET
#####       Mayuri Diwan                @mayurid            Dev Lead - Python and Java
#####
#####   External language experts:
#####       Anna Tisch                  @annatisch          Python
#####       Asir Vedamuthu Selvasingh   @Selvasingh         Java
#####       Brian Holt                  @btholt             JavaScript
#####       Bruno Borges                @brunoborges        Java
#####       Bryan Van de Ven            @bryevdv            Python
#####       Chris Dias                  @chrisdias          JavaScript
#####       David Fowler                @davidfowl          .NET
#####       Daniel Moth                 @DanielMoth         Python
#####       Matt Hernandez              @fiveisprime        JavaScript
#####       Steve Dower                 @zooba              Python
#####
#####
##### REVIEW REQUIREMENTS:
##### * The author of the PR is not a valid reviewer.
##### * All general guidelines must be approved by three architects (other than the author).
##### * All per-language guidelines must be approved by the assigned language architect plus
#####     one other language-specific person.  If the assigned language architect is the author
#####     of the PR, then only one other language-specific person needs to approve the PR.
##### * Engineering Systems PRs must be approved by two engineering systems team members.
#####

# Engineering systems documents
docs/android/                @adrianhall @kyle-patterson @JonathanGiles
docs/clang/                  @kyle-patterson @JeffreyRichter
docs/cpp/                    @kyle-patterson @JeffreyRichter
docs/dotnet/                 @KrzysztofCwalina
docs/general/                @kyle-patterson
docs/golang/                 @JeffreyRichter
docs/java/                   @JonathanGiles
docs/policies/               @maggiepint @Kurtzeborn @weshaggard @mikeharder
docs/python/                 @johanste
docs/redirects/              @kyle-patterson
docs/tables/                 @kyle-patterson
docs/typescript/             @bterlson
eng/                         @weshaggard
releases/                    @kyle-patterson @loarabia @czubair @jeremymeng @alzimmermsft @ShivangiReja @xiangyan99
_posts/                      @kyle-patterson @loarabia
_data/                       @czubair @weshaggard
