Repository Azure/azure-sdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jsquire, @ronniegeraghty, @JonathanGiles, @salameer, @JeffreyRichter, @LarryOsterman, @RickWinter, @KrzysztofCwalina, @annelo-msft, @tg-msft, @jhendrixMSFT, @srnagar, @Kurtzeborn, @weshaggard, @johanste, @annatisch, @kyle-patterson, @bterlson, @xirzec, @czubair, @vcolin7, @anuchandy, @ahsonkhan, @antkmsft, @m-redding, @tjprescott, @timovv, @xiangyan99, @chlowell

.github/CODEOWNERS:

#####
##### TEAM:
#####
#####   Architecture:
#####       Brian Terlson               @bterlson           TypeScript / JavaScript
#####       Jeffrey Richter             @JeffreyRichter     At large
#####       Jonathan Giles              @JonathanGiles      Java
#####       Krzysztof Cwalina           @KrzysztofCwalina   .NET
#####       Johan Stenberg              @johanste           Python
#####       Gor Nishanov                @gornishanov        C / C++
#####       Kyle Patterson              @kyle-patterson     Program Management
#####       Ronnie Geraghty             @ronniegeraghty     Program Management
#####
#####   Engineering Systems:
#####       Mike Harder                 @mikeharder         Eng. Sys. Engineer
#####       Wes Haggard                 @weshaggard         Eng. Sys. Engineer
#####
#####   Team Management:
#####       Peter Marcu                 @petermarcu         Dev Management
#####       Mayuri Diwan                @mayurid            Dev Management
#####       Samer Alameer               @salameer           Dev Management
#####       Lori Fraleigh               @lorifraleigh       PM Management
#####       Scott Kurtzeborn            @Kurtzeborn         Eng. Sys. Dev Lead
#####       Rick Winter                 @RickWinter         Dev Lead - Go and C++
#####       Josh Free                   @joshfree           Dev Lead - Java
#####       Jeff Fisher                 @xirzec             Dev Lead - JavaScript
#####       Jesse Squire                @jsquire            Dev Lead - .NET
#####       Pallavi Taneja              @pallavit           Dev Lead - .NET
#####       Laurent Mazuel              @lmazuel            Dev Lead - Python
#####
#####   External language experts:
#####       Anna Tisch                  @annatisch          Python
#####       Asir Vedamuthu Selvasingh   @Selvasingh         Java
#####       Brian Holt                  @btholt             JavaScript
#####       Bruno Borges                @brunoborges        Java
#####       Bryan Van de Ven            @bryevdv            Python
#####       Chris Dias                  @chrisdias          JavaScript
#####       David Fowler                @davidfowl          .NET
#####       Daniel Moth                 @DanielMoth         Python
#####       Matt Hernandez              @fiveisprime        JavaScript
#####       Steve Dower                 @zooba              Python
#####
#####
##### REVIEW REQUIREMENTS:
##### * The author of the PR is not a valid reviewer.
##### * All general guidelines must be approved by three architects (other than the author).
##### * All per-language guidelines must be approved by the assigned language architect plus
#####     one other language-specific person.  If the assigned language architect is the author
#####     of the PR, then only one other language-specific person needs to approve the PR.
##### * Engineering Systems PRs must be approved by two engineering systems team members.
#####

# Git Hub bot rules
/.github/fabricbot.json  @jsquire @ronniegeraghty

# Engineering systems documents
docs/android/                @JonathanGiles @salameer
docs/clang/                  @JeffreyRichter @LarryOsterman @RickWinter
docs/cpp/                    @JeffreyRichter @LarryOsterman @RickWinter
docs/dotnet/                 @KrzysztofCwalina @annelo-msft @salameer @tg-msft
docs/general/                @salameer
docs/golang/                 @JeffreyRichter @jhendrixMSFT @RickWinter
docs/ios/                    @salameer
docs/java/                   @JonathanGiles @salameer @srnagar
docs/policies/               @Kurtzeborn @weshaggard @salameer
docs/python/                 @johanste @salameer @annatisch
docs/redirects/              @kyle-patterson
docs/tables/                 @kyle-patterson
docs/typescript/             @bterlson @salameer @xirzec
eng/                         @weshaggard
_posts/                      @kyle-patterson
_data/                       @czubair @weshaggard
android.md                   @czubair @vcolin7 @anuchandy
android.yml                  @czubair @vcolin7 @anuchandy
android-packages.csv         @czubair @vcolin7 @anuchandy
c.md                         @czubair @ahsonkhan 
c.yml                        @czubair @ahsonkhan 
c-packages.csv               @czubair @ahsonkhan 
cpp.md                       @czubair @antkmsft 
cpp.yml                      @czubair @antkmsft
cpp-packages.csv             @czubair @antkmsft
dotnet.md                    @czubair @m-redding
dotnet.yml                   @czubair @m-redding
dotnet-packages.csv          @czubair @m-redding
ios.md                       @czubair @vcolin7 @tjprescott 
ios.yml                      @czubair @vcolin7 @tjprescott
ios-packages.csv             @czubair @vcolin7 @tjprescott
java.md                      @czubair @vcolin7
java.yml                     @czubair @vcolin7
java-packages.csv            @czubair @vcolin7
js.md                        @czubair @timovv
js.yml                       @czubair @timovv
js-packages.csv              @czubair @timovv
python.md                    @czubair @xiangyan99
python.yml                   @czubair @xiangyan99
python-packages.csv          @czubair @xiangyan99
go.md                        @czubair @chlowell
go.yml                       @czubair @chlowell
go-packages.csv              @czubair @chlowell

Update package index with latest published versions
  _data/releases/latest/dotnet-packages.csv
  _data/releases/latest/go-packages.csv
  _data/releases/latest/java-packages.csv
  _data/releases/latest/js-packages.csv
Owners: @czubair, @m-redding, @chlowell, @vcolin7, @timovv

js release notes for the 2022-10 release
  _data/releases/2022-10/js.yml
Owners: @czubair, @timovv

Deprecate Microsoft.Azure.Management.Media package
  _data/releases/latest/dotnet-packages.csv
Owners: @czubair, @m-redding

Update package index with latest published versions (#4921)
  _data/releases/latest/dotnet-packages.csv
  _data/releases/latest/go-packages.csv
  _data/releases/latest/java-packages.csv
  _data/releases/latest/js-packages.csv
Owners: @czubair, @m-redding, @chlowell, @vcolin7, @timovv

Update _data/releases/latest/dotnet-packages.csv
  _data/releases/latest/dotnet-packages.csv
Owners: @czubair, @m-redding

Update _data/releases/latest/dotnet-packages.csv
  _data/releases/latest/dotnet-packages.csv
Owners: @czubair, @m-redding

Deprecate Microsoft.Azure.Management.Media package (#4923)
  _data/releases/latest/dotnet-packages.csv
Owners: @czubair, @m-redding

change end of life to end of support
  _includes/releases/header.md
  _includes/releases/links.md
Owners: none

change end of support to support ends on
  _includes/releases/header.md
  _includes/releases/links.md
Owners: none

change end of life to end of support (#4925)
  _includes/releases/header.md
  _includes/releases/links.md
Owners: none

Mark 3 .NET WebJobs packages as deprecated
  _data/releases/latest/dotnet-packages.csv
Owners: @czubair, @m-redding

Update distributed-tracing-conventions.yml
  docs/tracing/distributed-tracing-conventions.yml
Owners: none

java release notes for the 2022-10 release
  _data/releases/2022-10/java.yml
Owners: @czubair, @vcolin7

Update package index with latest published versions
  _data/releases/latest/dotnet-packages.csv
  _data/releases/latest/java-packages.csv
  _data/releases/latest/js-packages.csv
Owners: @czubair, @m-redding, @vcolin7, @timovv

java release notes for the 2022-10 release
  _data/releases/2022-10/java.yml
Owners: @czubair, @vcolin7

Update package index with latest published versions (#4924)
  _data/releases/latest/dotnet-packages.csv
  _data/releases/latest/java-packages.csv
  _data/releases/latest/js-packages.csv
Owners: @czubair, @m-redding, @vcolin7, @timovv

java release notes for the 2022-10 release
  _data/releases/2022-10/java.yml
Owners: @czubair, @vcolin7

python release notes for the 2022-10 release
  _data/releases/2022-10/python.yml
Owners: @czubair, @xiangyan99

dotnet release notes for the 2022-10 release
  _data/releases/2022-10/dotnet.yml
Owners: @czubair, @m-redding

go release notes for the 2022-10 release
  _data/releases/2022-10/go.yml
Owners: @czubair, @chlowell

java release notes for the 2022-10 release
  _data/releases/2022-10/java.yml
Owners: @czubair, @vcolin7

js release notes for the 2022-10 release
  _data/releases/2022-10/js.yml
Owners: @czubair, @timovv

dotnet release notes for the 2022-10 release
  _data/releases/2022-10/dotnet.yml
Owners: @czubair, @m-redding

Add replacement package
  _data/releases/latest/dotnet-packages.csv
Owners: @czubair, @m-redding

Mark 3 .NET WebJobs packages as deprecated (#4926)
  _data/releases/latest/dotnet-packages.csv
Owners: @czubair, @m-redding

dotnet release notes for the 2022-10 release
  _data/releases/2022-10/dotnet.yml
Owners: @czubair, @m-redding

python release notes for the 2022-10 release
  _data/releases/2022-10/python.yml
Owners: @czubair, @xiangyan99

Update package index with latest published versions
  _data/releases/latest/dotnet-packages.csv
  _data/releases/latest/go-packages.csv
  _data/releases/latest/java-packages.csv
  _data/releases/latest/js-packages.csv
  _data/releases/latest/python-packages.csv
Owners: @czubair, @m-redding, @chlowell, @vcolin7, @timovv, @xiangyan99

Update package index with latest published versions (#4928)
  _data/releases/latest/dotnet-packages.csv
  _data/releases/latest/go-packages.csv
  _data/releases/latest/java-packages.csv
  _data/releases/latest/js-packages.csv
  _data/releases/latest/python-packages.csv
Owners: @czubair, @m-redding, @chlowell, @vcolin7, @timovv, @xiangyan99

python release notes for the 2022-10 release (#4929)
  _data/releases/2022-10/python.yml
Owners: @czubair, @xiangyan99

Update package index with latest published versions
  _data/releases/latest/dotnet-packages.csv
  _data/releases/latest/java-packages.csv
  _data/releases/latest/js-packages.csv
  _data/releases/latest/python-packages.csv
Owners: @czubair, @m-redding, @vcolin7, @timovv, @xiangyan99

Update package index with latest published versions (#4930)
  _data/releases/latest/dotnet-packages.csv
  _data/releases/latest/java-packages.csv
  _data/releases/latest/js-packages.csv
  _data/releases/latest/python-packages.csv
Owners: @czubair, @m-redding, @vcolin7, @timovv, @xiangyan99

dotnet release notes for the 2022-10 release
  _data/releases/2022-10/dotnet.yml
Owners: @czubair, @m-redding

cpp release notes for the 2022-10 release (#4918)
  _data/releases/2022-10/cpp.yml
Owners: @czubair, @antkmsft

Update package index with latest published versions
  _data/releases/latest/dotnet-packages.csv
  _data/releases/latest/python-packages.csv
Owners: @czubair, @m-redding, @xiangyan99

Update package index with latest published versions (#4931)
  _data/releases/latest/dotnet-packages.csv
  _data/releases/latest/python-packages.csv
Owners: @czubair, @m-redding, @xiangyan99

python release notes for the 2022-10 release
  _data/releases/2022-10/python.yml
Owners: @czubair, @xiangyan99

python release notes for the 2022-10 release (#4932)
  _data/releases/2022-10/python.yml
Owners: @czubair, @xiangyan99

java release notes for the 2022-10 release
  _data/releases/2022-10/java.yml
Owners: @czubair, @vcolin7

cpp release notes for the 2022-10 release
  _data/releases/2022-10/cpp.yml
Owners: @czubair, @antkmsft
