Repository Azure/azure-sdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jsquire, @ronniegeraghty, @JonathanGiles, @salameer, @JeffreyRichter, @LarryOsterman, @RickWinter, @KrzysztofCwalina, @annelo-msft, @tg-msft, @jhendrixMSFT, @srnagar, @Kurtzeborn, @weshaggard, @johanste, @annatisch, @kyle-patterson, @bterlson, @xirzec, @czubair, @vcolin7, @anuchandy, @ahsonkhan, @antkmsft, @m-redding, @tjprescott, @timovv, @xiangyan99, @chlowell

.github/CODEOWNERS:

#####
##### TEAM:
#####
#####   Architecture:
#####       Brian Terlson               @bterlson           TypeScript / JavaScript
#####       Jeffrey Richter             @JeffreyRichter     At large
#####       Jonathan Giles              @JonathanGiles      Java
#####       Krzysztof Cwalina           @KrzysztofCwalina   .NET
#####       Johan Stenberg              @johanste           Python
#####       Gor Nishanov                @gornishanov        C / C++
#####       Kyle Patterson              @kyle-patterson     Program Management
#####       Ronnie Geraghty             @ronniegeraghty     Program Management
#####
#####   Engineering Systems:
#####       Mike Harder                 @mikeharder         Eng. Sys. Engineer
#####       Wes Haggard                 @weshaggard         Eng. Sys. Engineer
#####
#####   Team Management:
#####       Peter Marcu                 @petermarcu         Dev Management
#####       Mayuri Diwan                @mayurid            Dev Management
#####       Samer Alameer               @salameer           Dev Management
#####       Lori Fraleigh               @lorifraleigh       PM Management
#####       Scott Kurtzeborn            @Kurtzeborn         Eng. Sys. Dev Lead
#####       Rick Winter                 @RickWinter         Dev Lead - Go and C++
#####       Josh Free                   @joshfree           Dev Lead - Java
#####       Jeff Fisher                 @xirzec             Dev Lead - JavaScript
#####       Jesse Squire                @jsquire            Dev Lead - .NET
#####       Pallavi Taneja              @pallavit           Dev Lead - .NET
#####       Laurent Mazuel              @lmazuel            Dev Lead - Python
#####
#####   External language experts:
#####       Anna Tisch                  @annatisch          Python
#####       Asir Vedamuthu Selvasingh   @Selvasingh         Java
#####       Brian Holt                  @btholt             JavaScript
#####       Bruno Borges                @brunoborges        Java
#####       Bryan Van de Ven            @bryevdv            Python
#####       Chris Dias                  @chrisdias          JavaScript
#####       David Fowler                @davidfowl          .NET
#####       Daniel Moth                 @DanielMoth         Python
#####       Matt Hernandez              @fiveisprime        JavaScript
#####       Steve Dower                 @zooba              Python
#####
#####
##### REVIEW REQUIREMENTS:
##### * The author of the PR is not a valid reviewer.
##### * All general guidelines must be approved by three architects (other than the author).
##### * All per-language guidelines must be approved by the assigned language architect plus
#####     one other language-specific person.  If the assigned language architect is the author
#####     of the PR, then only one other language-specific person needs to approve the PR.
##### * Engineering Systems PRs must be approved by two engineering systems team members.
#####

# Git Hub bot rules
/.github/fabricbot.json  @jsquire @ronniegeraghty

# Engineering systems documents
docs/android/                @JonathanGiles @salameer
docs/clang/                  @JeffreyRichter @LarryOsterman @RickWinter
docs/cpp/                    @JeffreyRichter @LarryOsterman @RickWinter
docs/dotnet/                 @KrzysztofCwalina @annelo-msft @salameer @tg-msft
docs/general/                @salameer
docs/golang/                 @JeffreyRichter @jhendrixMSFT @RickWinter
docs/ios/                    @salameer
docs/java/                   @JonathanGiles @salameer @srnagar
docs/policies/               @Kurtzeborn @weshaggard @salameer
docs/python/                 @johanste @salameer @annatisch
docs/redirects/              @kyle-patterson
docs/tables/                 @kyle-patterson
docs/typescript/             @bterlson @salameer @xirzec
eng/                         @weshaggard
_posts/                      @kyle-patterson
_data/                       @czubair @weshaggard
android.md                   @czubair @vcolin7 @anuchandy
android.yml                  @czubair @vcolin7 @anuchandy
android-packages.csv         @czubair @vcolin7 @anuchandy
c.md                         @czubair @ahsonkhan 
c.yml                        @czubair @ahsonkhan 
c-packages.csv               @czubair @ahsonkhan 
cpp.md                       @czubair @antkmsft 
cpp.yml                      @czubair @antkmsft
cpp-packages.csv             @czubair @antkmsft
dotnet.md                    @czubair @m-redding
dotnet.yml                   @czubair @m-redding
dotnet-packages.csv          @czubair @m-redding
ios.md                       @czubair @vcolin7 @tjprescott 
ios.yml                      @czubair @vcolin7 @tjprescott
ios-packages.csv             @czubair @vcolin7 @tjprescott
java.md                      @czubair @vcolin7
java.yml                     @czubair @vcolin7
java-packages.csv            @czubair @vcolin7
js.md                        @czubair @timovv
js.yml                       @czubair @timovv
js-packages.csv              @czubair @timovv
python.md                    @czubair @xiangyan99
python.yml                   @czubair @xiangyan99
python-packages.csv          @czubair @xiangyan99
go.md                        @czubair @chlowell
go.yml                       @czubair @chlowell
go-packages.csv              @czubair @chlowell

python release notes for the 2022-10 release (#4902)
  _data/releases/2022-10/python.yml
Owners: @czubair, @xiangyan99

Update package index with latest published versions (#4901)
  _data/releases/latest/dotnet-packages.csv
  _data/releases/latest/java-packages.csv
  _data/releases/latest/js-packages.csv
  _data/releases/latest/python-packages.csv
Owners: @czubair, @m-redding, @vcolin7, @timovv, @xiangyan99

Update package index with latest published versions
  _data/releases/latest/python-packages.csv
Owners: @czubair, @xiangyan99

Update package index with latest published versions (#4903)
  _data/releases/latest/python-packages.csv
Owners: @czubair, @xiangyan99

Fixed the typo of the function display name
  _data/releases/latest/java-packages.csv
Owners: @czubair, @vcolin7

remove extra s
  _data/releases/latest/java-packages.csv
Owners: @czubair, @vcolin7

Update package index with latest published versions
  _data/releases/latest/go-packages.csv
Owners: @czubair, @chlowell

Update package index with latest published versions (#4905)
  _data/releases/latest/go-packages.csv
Owners: @czubair, @chlowell

Fix typo (#4904)
  _data/releases/latest/java-packages.csv
Owners: @czubair, @vcolin7

java release notes for the 2022-10 release (#4895)
  _data/releases/2022-10/java.yml
Owners: @czubair, @vcolin7

Update package index with latest published versions
  _data/releases/latest/java-packages.csv
  _data/releases/latest/python-packages.csv
Owners: @czubair, @vcolin7, @xiangyan99

Update package index with latest published versions (#4906)
  _data/releases/latest/java-packages.csv
  _data/releases/latest/python-packages.csv
Owners: @czubair, @vcolin7, @xiangyan99

Update package index with latest published versions
  _data/releases/latest/android-packages.csv
  _data/releases/latest/dotnet-packages.csv
  _data/releases/latest/go-packages.csv
  _data/releases/latest/python-packages.csv
Owners: @czubair, @vcolin7, @anuchandy, @m-redding, @chlowell, @xiangyan99

Update package index with latest published versions (#4907)
  _data/releases/latest/android-packages.csv
  _data/releases/latest/dotnet-packages.csv
  _data/releases/latest/go-packages.csv
  _data/releases/latest/python-packages.csv
Owners: @czubair, @vcolin7, @anuchandy, @m-redding, @chlowell, @xiangyan99

ios release notes for the 2022-10 release
  _data/releases/2022-10/ios.yml
Owners: @czubair, @vcolin7, @tjprescott

Update package index with latest published versions
  _data/releases/latest/dotnet-packages.csv
  _data/releases/latest/java-packages.csv
  _data/releases/latest/js-packages.csv
  _data/releases/latest/python-packages.csv
Owners: @czubair, @m-redding, @vcolin7, @timovv, @xiangyan99

Update package index with latest published versions (#4908)
  _data/releases/latest/dotnet-packages.csv
  _data/releases/latest/java-packages.csv
  _data/releases/latest/js-packages.csv
  _data/releases/latest/python-packages.csv
Owners: @czubair, @m-redding, @vcolin7, @timovv, @xiangyan99

Update package index with latest published versions
  _data/releases/latest/cpp-packages.csv
  _data/releases/latest/java-packages.csv
  _data/releases/latest/js-packages.csv
  _data/releases/latest/python-packages.csv
Owners: @czubair, @antkmsft, @vcolin7, @timovv, @xiangyan99

Update package index with latest published versions (#4910)
  _data/releases/latest/cpp-packages.csv
  _data/releases/latest/java-packages.csv
  _data/releases/latest/js-packages.csv
  _data/releases/latest/python-packages.csv
Owners: @czubair, @antkmsft, @vcolin7, @timovv, @xiangyan99

Update package index with latest published versions
  _data/releases/latest/cpp-packages.csv
  _data/releases/latest/dotnet-packages.csv
Owners: @czubair, @antkmsft, @m-redding

Update package index with latest published versions (#4911)
  _data/releases/latest/cpp-packages.csv
  _data/releases/latest/dotnet-packages.csv
Owners: @czubair, @antkmsft, @m-redding

ios release notes for the 2022-10 release (#4909)
  _data/releases/2022-10/ios.yml
Owners: @czubair, @vcolin7, @tjprescott

Update retry guidelines
  docs/general/azurecore.md
Owners: @salameer

Update package index with latest published versions
  _data/releases/latest/dotnet-packages.csv
  _data/releases/latest/go-packages.csv
  _data/releases/latest/java-packages.csv
  _data/releases/latest/python-packages.csv
Owners: @czubair, @m-redding, @chlowell, @vcolin7, @xiangyan99

Update package index with latest published versions (#4912)
  _data/releases/latest/dotnet-packages.csv
  _data/releases/latest/go-packages.csv
  _data/releases/latest/java-packages.csv
  _data/releases/latest/python-packages.csv
Owners: @czubair, @m-redding, @chlowell, @vcolin7, @xiangyan99

js release notes for the 2022-10 release
  _data/releases/2022-10/js.yml
Owners: @czubair, @timovv

Update package index with latest published versions
  _data/releases/latest/cpp-packages.csv
  _data/releases/latest/dotnet-packages.csv
  _data/releases/latest/go-packages.csv
  _data/releases/latest/js-packages.csv
  _data/releases/latest/python-packages.csv
Owners: @czubair, @antkmsft, @m-redding, @chlowell, @timovv, @xiangyan99

python release notes for the 2022-10 release
  _data/releases/2022-10/python.yml
Owners: @czubair, @xiangyan99

python release notes for the 2022-10 release (#4916)
  _data/releases/2022-10/python.yml
Owners: @czubair, @xiangyan99

Update package index with latest published versions (#4915)
  _data/releases/latest/cpp-packages.csv
  _data/releases/latest/dotnet-packages.csv
  _data/releases/latest/go-packages.csv
  _data/releases/latest/js-packages.csv
  _data/releases/latest/python-packages.csv
Owners: @czubair, @antkmsft, @m-redding, @chlowell, @timovv, @xiangyan99

cpp release notes for the 2022-10 release (#4844)
  _data/releases/2022-10/cpp.yml
Owners: @czubair, @antkmsft

Update package index with latest published versions
  _data/releases/latest/cpp-packages.csv
  _data/releases/latest/go-packages.csv
  _data/releases/latest/js-packages.csv
  _data/releases/latest/python-packages.csv
Owners: @czubair, @antkmsft, @chlowell, @timovv, @xiangyan99

cpp release notes for the 2022-10 release
  _data/releases/2022-10/cpp.yml
Owners: @czubair, @antkmsft

go release notes for the 2022-10 release
  _data/releases/2022-10/go.yml
Owners: @czubair, @chlowell

Update python-packages.csv
  _data/releases/latest/python-packages.csv
Owners: @czubair, @xiangyan99

Update package index with latest published versions (#4917)
  _data/releases/latest/cpp-packages.csv
  _data/releases/latest/go-packages.csv
  _data/releases/latest/js-packages.csv
  _data/releases/latest/python-packages.csv
Owners: @czubair, @antkmsft, @chlowell, @timovv, @xiangyan99

js release notes for the 2022-10 release (#4914)
  _data/releases/2022-10/js.yml
Owners: @czubair, @timovv

Update package index with latest published versions
  _data/releases/latest/go-packages.csv
  _data/releases/latest/java-packages.csv
  _data/releases/latest/js-packages.csv
Owners: @czubair, @chlowell, @vcolin7, @timovv

Update package index with latest published versions (#4919)
  _data/releases/latest/go-packages.csv
  _data/releases/latest/java-packages.csv
  _data/releases/latest/js-packages.csv
Owners: @czubair, @chlowell, @vcolin7, @timovv

dotnet release notes for the 2022-10 release
  _data/releases/2022-10/dotnet.yml
Owners: @czubair, @m-redding
