Repository Azure/azure-sdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @adrianhall, @kyle-patterson, @JonathanGiles, @JeffreyRichter, @KrzysztofCwalina, @maggiepint, @Kurtzeborn, @weshaggard, @mikeharder, @johanste, @bterlson, @loarabia, @czubair, @jeremymeng, @alzimmermsft, @ShivangiReja, @xiangyan99

.github/CODEOWNERS:

#####
##### TEAM:
#####
#####   Architecture:
#####       Brian Terlson               @bterlson           TypeScript / JavaScript
#####       Jeffrey Richter             @JeffreyRichter     At large
#####       Jonathan Giles              @JonathanGiles      Java
#####       Krzysztof Cwalina           @KrzysztofCwalina   .NET
#####       Johan Stenberg              @johanste           Python
#####       Gor Nishanov                @gornishanov        C / C++
#####       Kyle Patterson              @kyle-patterson     Program Management
#####
#####   Engineering Systems:
#####       Maggie Pint                 @maggiepint         Program Management
#####       Mike Harder                 @mikeharder         Eng. Sys. Engineer
#####       Wes Haggard                 @weshaggard         Eng. Sys. Engineer
#####
#####   Team Management:
#####       Peter Marcu                 @petermarcu         Dev Management
#####       Larry Olson                 @loarabia           PM Management
#####       Scott Kurtzeborn            @Kurtzeborn         Eng. Sys. Dev Lead
#####       Alex Ghiondea               @AlexGhiondea       Dev Lead - TS and .NET
#####       Mayuri Diwan                @mayurid            Dev Lead - Python and Java
#####
#####   External language experts:
#####       Anna Tisch                  @annatisch          Python
#####       Asir Vedamuthu Selvasingh   @Selvasingh         Java
#####       Brian Holt                  @btholt             JavaScript
#####       Bruno Borges                @brunoborges        Java
#####       Bryan Van de Ven            @bryevdv            Python
#####       Chris Dias                  @chrisdias          JavaScript
#####       David Fowler                @davidfowl          .NET
#####       Daniel Moth                 @DanielMoth         Python
#####       Matt Hernandez              @fiveisprime        JavaScript
#####       Steve Dower                 @zooba              Python
#####
#####
##### REVIEW REQUIREMENTS:
##### * The author of the PR is not a valid reviewer.
##### * All general guidelines must be approved by three architects (other than the author).
##### * All per-language guidelines must be approved by the assigned language architect plus
#####     one other language-specific person.  If the assigned language architect is the author
#####     of the PR, then only one other language-specific person needs to approve the PR.
##### * Engineering Systems PRs must be approved by two engineering systems team members.
#####

# Engineering systems documents
docs/android/                @adrianhall @kyle-patterson @JonathanGiles
docs/clang/                  @kyle-patterson @JeffreyRichter
docs/cpp/                    @kyle-patterson @JeffreyRichter
docs/dotnet/                 @KrzysztofCwalina
docs/general/                @kyle-patterson
docs/golang/                 @JeffreyRichter
docs/java/                   @JonathanGiles
docs/policies/               @maggiepint @Kurtzeborn @weshaggard @mikeharder
docs/python/                 @johanste
docs/redirects/              @kyle-patterson
docs/tables/                 @kyle-patterson
docs/typescript/             @bterlson
eng/                         @weshaggard
releases/                    @kyle-patterson @loarabia @czubair @jeremymeng @alzimmermsft @ShivangiReja @xiangyan99
_posts/                      @kyle-patterson @loarabia
_data/                       @czubair @weshaggard

Update client-lifetime-management.md
  _posts/client-lifetime-management.md
Owners: @kyle-patterson, @loarabia

Update package index with latest published versions
  _data/allpackages/js-packages.csv
  _data/allpackages/python-packages.csv
Owners: @czubair, @weshaggard

Update package index with latest published versions (#1582)
  _data/allpackages/js-packages.csv
  _data/allpackages/python-packages.csv
Owners: @czubair, @weshaggard

Update package index with latest published versions
  _data/allpackages/dotnet-packages.csv
  _data/allpackages/java-packages.csv
  _data/allpackages/python-packages.csv
  _data/releases/latest/dotnet-packages.csv
  _data/releases/latest/java-packages.csv
  _data/releases/latest/js-packages.csv
  _data/releases/latest/python-packages.csv
Owners: @czubair, @weshaggard

adding workarounds and reason
  docs/policies/README-TEMPLATE.md
Owners: @maggiepint, @Kurtzeborn, @weshaggard, @mikeharder

Update the .NET guidelines to call out how to select the initial version of a package for a service that already has existing released packages.
  docs/dotnet/introduction.md
Owners: @KrzysztofCwalina

Small clarification for .NET
  docs/dotnet/introduction.md
Owners: @KrzysztofCwalina

Update the TS guidelines.
  docs/typescript/implementation.md
Owners: @bterlson

Update the Python guidelines.
  docs/python/implementation.md
Owners: @johanste

Add all columns to allpackages csv files
  _data/allpackages/dotnet-packages.csv
  _data/allpackages/java-packages.csv
  _data/allpackages/js-packages.csv
  _data/allpackages/python-packages.csv
  eng/scripts/Query-Azure-Packages.ps1
Owners: @czubair, @weshaggard

Add new package data to all package csv
  _data/allpackages/dotnet-packages.csv
  _data/allpackages/java-packages.csv
  _data/allpackages/js-packages.csv
  _data/allpackages/python-packages.csv
  eng/scripts/Query-Azure-Packages.ps1
Owners: @czubair, @weshaggard

Add Type and use Update-Release-Versions.ps1 script
  _data/allpackages/dotnet-packages.csv
  _data/allpackages/java-packages.csv
  _data/allpackages/js-packages.csv
  _data/allpackages/python-packages.csv
  eng/scripts/Update-Release-Versions.ps1
Owners: @czubair, @weshaggard

Remove allpackages directory
  _data/allpackages/dotnet-packages.csv
  _data/allpackages/java-packages.csv
  _data/allpackages/js-packages.csv
  _data/allpackages/python-packages.csv
  _data/releases/latest/dotnet-packages.csv
  _data/releases/latest/java-packages.csv
  _data/releases/latest/js-packages.csv
  _data/releases/latest/python-packages.csv
  eng/scripts/Generate-Package-Index.ps1
  eng/scripts/Query-Azure-Packages.ps1
  eng/scripts/Update-Release-Versions.ps1
Owners: @czubair, @weshaggard

Add mgmt tab and remove all index
  _data/releases/latest/dotnet-packages.csv
  _data/releases/latest/java-packages.csv
  _data/releases/latest/js-packages.csv
  _data/releases/latest/python-packages.csv
  _includes/dotnet-allpackages.html
  _includes/java-allpackages.html
  _includes/js-allpackages.html
  _includes/python-allpackages.html
  _includes/releases/all/dotnet.md
  _includes/releases/all/java.md
  _includes/releases/all/js.md
  _includes/releases/all/pkgrow.md
  _includes/releases/all/pkgtable.md
  _includes/releases/all/python.md
  _includes/releases/dotnet.md
  _includes/releases/java.md
  _includes/releases/js.md
  _includes/releases/pkgrow.md
  _includes/releases/pkgtable.md
  _includes/releases/python.md
  eng/scripts/Query-Azure-Packages.ps1
  releases/latest/all/dotnet.md
  releases/latest/all/index.md
  releases/latest/all/java.md
  releases/latest/all/js.md
  releases/latest/all/python.md
  releases/latest/mgmt/dotnet.md
  releases/latest/mgmt/java.md
  releases/latest/mgmt/js.md
  releases/latest/mgmt/python.md
Owners: @czubair, @weshaggard, @kyle-patterson, @loarabia, @jeremymeng, @alzimmermsft, @ShivangiReja, @xiangyan99

Adding missing guideline text around version numbers.
  docs/java/design.md
  docs/java/implementation.md
Owners: @JonathanGiles

Fix broken links for other packages
  _data/releases/latest/dotnet-packages.csv
  _data/releases/latest/java-packages.csv
  _data/releases/latest/js-packages.csv
  _data/releases/latest/python-packages.csv
  _includes/releases/pkgrow.md
Owners: @czubair, @weshaggard, @kyle-patterson, @loarabia, @jeremymeng, @alzimmermsft, @ShivangiReja, @xiangyan99

Rename data to client
  _data/releases/latest/dotnet-packages.csv
  _data/releases/latest/java-packages.csv
  _data/releases/latest/js-packages.csv
  _data/releases/latest/python-packages.csv
  _includes/releases/tabs.md
  releases/latest/dotnet.md
  releases/latest/index.md
  releases/latest/java.md
  releases/latest/js.md
  releases/latest/python.md
Owners: @czubair, @weshaggard, @kyle-patterson, @loarabia, @jeremymeng, @alzimmermsft, @ShivangiReja, @xiangyan99

Add GitHub codespaces files
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .vscode/tasks.json
  Gemfile.lock
Owners: none

Add side nav and fix index pages
  _data/sidebars/releases_sidebar.yml
  _includes/releases/header.md
  releases/latest/all/index.md
  releases/latest/index.md
  releases/latest/mgmt/index.md
Owners: @czubair, @weshaggard, @kyle-patterson, @loarabia, @jeremymeng, @alzimmermsft, @ShivangiReja, @xiangyan99

Update package index with latest published versions
  _data/releases/latest/dotnet-packages.csv
  _data/releases/latest/js-packages.csv
Owners: @czubair, @weshaggard

Update Versions
  _data/releases/latest/dotnet-packages.csv
  _data/releases/latest/java-packages.csv
  _data/releases/latest/js-packages.csv
  _data/releases/latest/python-packages.csv
  eng/pipelines/version-updater.yml
  eng/scripts/Query-Azure-Packages.ps1
  eng/scripts/Update-Release-Versions.ps1
Owners: @czubair, @weshaggard

Update blog link
  _data/topnav.yml
Owners: @czubair, @weshaggard

Update Versions (#1594)
  _data/releases/latest/dotnet-packages.csv
  _data/releases/latest/java-packages.csv
  _data/releases/latest/js-packages.csv
  _data/releases/latest/python-packages.csv
  eng/pipelines/version-updater.yml
  eng/scripts/Query-Azure-Packages.ps1
  eng/scripts/Update-Release-Versions.ps1
Owners: @czubair, @weshaggard

add postCreateCommand
  .devcontainer/devcontainer.json
Owners: none

Update blog link (#1595)
  _data/topnav.yml
Owners: @czubair, @weshaggard

Add dotnet docs package index sync
  eng/pipelines/version-updater.yml
Owners: @weshaggard

Fix newline issues in md file
  eng/scripts/Generate-Package-Index.ps1
Owners: @weshaggard

Add dotnet docs package index sync (#1597)
  eng/pipelines/version-updater.yml
  eng/scripts/Generate-Package-Index.ps1
Owners: @weshaggard

Update docs/typescript/implementation.md
  docs/typescript/implementation.md
Owners: @bterlson

Update ClientOptions name
  docs/ios/design.md
Owners: none

iOS guidelines updates (#1507)
  docs/ios/design.md
  docs/ios/introduction.md
Owners: none

Update implementation.md
  docs/python/implementation.md
Owners: @johanste

Update introduction.md
  docs/dotnet/introduction.md
Owners: @KrzysztofCwalina

ta oob re-release as 5.0.0
  releases/2020-08/python.md
Owners: @kyle-patterson, @loarabia, @czubair, @jeremymeng, @alzimmermsft, @ShivangiReja, @xiangyan99

Update package index with latest published versions
  _data/releases/latest/dotnet-packages.csv
  _data/releases/latest/java-packages.csv
  _data/releases/latest/js-packages.csv
  _data/releases/latest/python-packages.csv
Owners: @czubair, @weshaggard

Update nuget casing.
  eng/scripts/Generate-Package-Index.ps1
Owners: @weshaggard

Add Codespaces steps to Contrib doc
  CONTRIBUTING.md
Owners: none

Update package index with latest published versions (#1598)
  _data/releases/latest/dotnet-packages.csv
  _data/releases/latest/java-packages.csv
  _data/releases/latest/js-packages.csv
  _data/releases/latest/python-packages.csv
Owners: @czubair, @weshaggard

Add requirement that pipeline policies be public API for consumer reuse. (#1406)
  docs/java/design.md
  docs/java/implementation.md
Owners: @JonathanGiles

Draft post for EngSys 2020-08-11
  _posts/2020-08-11-packaging-tools-and-repositories.md
Owners: @kyle-patterson, @loarabia
