Repository Azure/azure-sdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @adrianhall, @kyle-patterson, @JonathanGiles, @JeffreyRichter, @KrzysztofCwalina, @maggiepint, @Kurtzeborn, @weshaggard, @mikeharder, @johanste, @bterlson, @loarabia, @czubair, @jeremymeng, @alzimmermsft, @ShivangiReja, @xiangyan99

Update package index with latest published versions (#1626)
  _data/releases/latest/dotnet-packages.csv
  _data/releases/latest/java-packages.csv
  _data/releases/latest/js-packages.csv
Owners: @czubair, @weshaggard

CancellationToken updates (#1625)
  docs/ios/design.md
Owners: none

Update docs/policies/releases.md
  docs/policies/releases.md
Owners: @maggiepint, @Kurtzeborn, @weshaggard, @mikeharder

Responding to jongio's feedback.
  _posts/2020-08-11-packaging-tools-and-repositories.md
  images/posts/go-package-structure.PNG
  images/posts/swift-package-structure.png
Owners: @kyle-patterson, @loarabia

Update _posts/2020-08-11-packaging-tools-and-repositories.md
  _posts/2020-08-11-packaging-tools-and-repositories.md
Owners: @kyle-patterson, @loarabia

Update docs/policies/releases.md
  docs/policies/releases.md
Owners: @maggiepint, @Kurtzeborn, @weshaggard, @mikeharder

Revisions based on feedback.
  _posts/2020-08-11-packaging-tools-and-repositories.md
Owners: @kyle-patterson, @loarabia

Update image.
  images/posts/swift-package-structure.png
Owners: none

Change list ordering.
  _posts/2020-08-11-packaging-tools-and-repositories.md
Owners: @kyle-patterson, @loarabia

Update heading.
  _posts/2020-08-11-packaging-tools-and-repositories.md
Owners: @kyle-patterson, @loarabia

Update language to refer to new release tag formatting (#1615)
  docs/policies/releases.md
Owners: @maggiepint, @Kurtzeborn, @weshaggard, @mikeharder

Update package index with latest published versions
  _data/releases/latest/dotnet-packages.csv
  _data/releases/latest/js-packages.csv
  _data/releases/latest/python-packages.csv
Owners: @czubair, @weshaggard

[JS] August release notes
  releases/2020-08/js.md
Owners: @kyle-patterson, @loarabia, @czubair, @jeremymeng, @alzimmermsft, @ShivangiReja, @xiangyan99

update guidance policies
  docs/policies/README-TEMPLATE.md
Owners: @maggiepint, @Kurtzeborn, @weshaggard, @mikeharder

Update package index with latest published versions (#1628)
  _data/releases/latest/dotnet-packages.csv
  _data/releases/latest/js-packages.csv
  _data/releases/latest/python-packages.csv
Owners: @czubair, @weshaggard

Remove blog posts. Landing now has releases.
  _includes/topnav.html
  _posts/2019-11-11-november-ga-release.md
  _posts/2019-12-13-december-release.md
  _posts/2020-01-13-january-release.md
  _posts/2020-02-11-february-release.md
  _posts/2020-02-25-defaultazurecredentials.md
  _posts/2020-03-02-java-pluggable-http.md
  _posts/2020-03-10-monorepo.md
  _posts/2020-03-17-march-release.md
  _posts/2020-03-24-python-tracing.md
  _posts/2020-03-31-aspnet-core-integration.md
  _posts/2020-04-07-java-eventprocessorclient.md
  _posts/2020-04-14-april-release.md
  _posts/2020-04-21-js-cancellation.md
  _posts/2020-04-28-net-cancellation.md
  _posts/2020-05-05-jupyter-notebooks.md
  _posts/2020-05-12-may-release.md
  _posts/2020-05-19-formrecognizer.md
  _posts/2020-05-26-async-iterators.md
  images/posts/03242020-image1.png
  images/posts/04072020-image1.png
  images/posts/05122020-intellij-keepass.png
  images/posts/05122020-intellij-sign-in.png
  images/posts/05122020-vs-accounts.png
  images/posts/05122020-vscode-logged-in.png
  images/posts/05122020-vscode-sign-in.png
  images/posts/20200505-image1.svg
  images/posts/20200505-image2.png
  images/posts/20200505-image3.svg
  images/posts/ForecastingInVSCodeWithBlob.ipynb
  index.html
  index.md
Owners: @kyle-patterson, @loarabia

Update docs/policies/README-TEMPLATE.md
  docs/policies/README-TEMPLATE.md
Owners: @maggiepint, @Kurtzeborn, @weshaggard, @mikeharder

Update docs/policies/README-TEMPLATE.md
  docs/policies/README-TEMPLATE.md
Owners: @maggiepint, @Kurtzeborn, @weshaggard, @mikeharder

Update docs/policies/README-TEMPLATE.md
  docs/policies/README-TEMPLATE.md
Owners: @maggiepint, @Kurtzeborn, @weshaggard, @mikeharder

Added some TODOs related to the changelogs
  releases/2020-08/js.md
Owners: @kyle-patterson, @loarabia, @czubair, @jeremymeng, @alzimmermsft, @ShivangiReja, @xiangyan99

Remove blog posts. Landing now has releases. (#1630)
  _includes/topnav.html
  _posts/2019-11-11-november-ga-release.md
  _posts/2019-12-13-december-release.md
  _posts/2020-01-13-january-release.md
  _posts/2020-02-11-february-release.md
  _posts/2020-02-25-defaultazurecredentials.md
  _posts/2020-03-02-java-pluggable-http.md
  _posts/2020-03-10-monorepo.md
  _posts/2020-03-17-march-release.md
  _posts/2020-03-24-python-tracing.md
  _posts/2020-03-31-aspnet-core-integration.md
  _posts/2020-04-07-java-eventprocessorclient.md
  _posts/2020-04-14-april-release.md
  _posts/2020-04-21-js-cancellation.md
  _posts/2020-04-28-net-cancellation.md
  _posts/2020-05-05-jupyter-notebooks.md
  _posts/2020-05-12-may-release.md
  _posts/2020-05-19-formrecognizer.md
  _posts/2020-05-26-async-iterators.md
  images/posts/03242020-image1.png
  images/posts/04072020-image1.png
  images/posts/05122020-intellij-keepass.png
  images/posts/05122020-intellij-sign-in.png
  images/posts/05122020-vs-accounts.png
  images/posts/05122020-vscode-logged-in.png
  images/posts/05122020-vscode-sign-in.png
  images/posts/20200505-image1.svg
  images/posts/20200505-image2.png
  images/posts/20200505-image3.svg
  images/posts/ForecastingInVSCodeWithBlob.ipynb
  index.html
  index.md
Owners: @kyle-patterson, @loarabia

adding workarounds and reasoning for link guidance update (#1587)
  docs/policies/README-TEMPLATE.md
Owners: @maggiepint, @Kurtzeborn, @weshaggard, @mikeharder

Slight changelog lines change
  releases/2020-08/js.md
Owners: @kyle-patterson, @loarabia, @czubair, @jeremymeng, @alzimmermsft, @ShivangiReja, @xiangyan99

Change header.
  _posts/2020-08-11-packaging-tools-and-repositories.md
Owners: @kyle-patterson, @loarabia

Added Package delivery systems preamble.
  _posts/2020-08-11-packaging-tools-and-repositories.md
Owners: @kyle-patterson, @loarabia

Added some more context in the preamble.
  _posts/2020-08-11-packaging-tools-and-repositories.md
Owners: @kyle-patterson, @loarabia

Update dotnet.md
  releases/2020-08/dotnet.md
Owners: @kyle-patterson, @loarabia, @czubair, @jeremymeng, @alzimmermsft, @ShivangiReja, @xiangyan99

Update dotnet.md
  releases/2020-08/dotnet.md
Owners: @kyle-patterson, @loarabia, @czubair, @jeremymeng, @alzimmermsft, @ShivangiReja, @xiangyan99

Add blog contrib to main site.
  CONTRIBUTING.md
Owners: none

[August Release Notes] Event Hubs
  releases/2020-08/dotnet.md
Owners: @kyle-patterson, @loarabia, @czubair, @jeremymeng, @alzimmermsft, @ShivangiReja, @xiangyan99

[August Release Notes] Event Hubs (#1633)
  releases/2020-08/dotnet.md
Owners: @kyle-patterson, @loarabia, @czubair, @jeremymeng, @alzimmermsft, @ShivangiReja, @xiangyan99

Add blog contrib to main site. (#1632)
  CONTRIBUTING.md
Owners: none

Apply suggestions from code review
  _posts/2020-08-11-packaging-tools-and-repositories.md
Owners: @kyle-patterson, @loarabia

Apply suggestions from code review
  _posts/2020-08-11-packaging-tools-and-repositories.md
Owners: @kyle-patterson, @loarabia

Update dotnet.md
  releases/2020-08/dotnet.md
Owners: @kyle-patterson, @loarabia, @czubair, @jeremymeng, @alzimmermsft, @ShivangiReja, @xiangyan99

.github/CODEOWNERS:

#####
##### TEAM:
#####
#####   Architecture:
#####       Brian Terlson               @bterlson           TypeScript / JavaScript
#####       Jeffrey Richter             @JeffreyRichter     At large
#####       Jonathan Giles              @JonathanGiles      Java
#####       Krzysztof Cwalina           @KrzysztofCwalina   .NET
#####       Johan Stenberg              @johanste           Python
#####       Gor Nishanov                @gornishanov        C / C++
#####       Kyle Patterson              @kyle-patterson     Program Management
#####
#####   Engineering Systems:
#####       Maggie Pint                 @maggiepint         Program Management
#####       Mike Harder                 @mikeharder         Eng. Sys. Engineer
#####       Wes Haggard                 @weshaggard         Eng. Sys. Engineer
#####
#####   Team Management:
#####       Peter Marcu                 @petermarcu         Dev Management
#####       Larry Olson                 @loarabia           PM Management
#####       Scott Kurtzeborn            @Kurtzeborn         Eng. Sys. Dev Lead
#####       Alex Ghiondea               @AlexGhiondea       Dev Lead - TS and .NET
#####       Mayuri Diwan                @mayurid            Dev Lead - Python and Java
#####
#####   External language experts:
#####       Anna Tisch                  @annatisch          Python
#####       Asir Vedamuthu Selvasingh   @Selvasingh         Java
#####       Brian Holt                  @btholt             JavaScript
#####       Bruno Borges                @brunoborges        Java
#####       Bryan Van de Ven            @bryevdv            Python
#####       Chris Dias                  @chrisdias          JavaScript
#####       David Fowler                @davidfowl          .NET
#####       Daniel Moth                 @DanielMoth         Python
#####       Matt Hernandez              @fiveisprime        JavaScript
#####       Steve Dower                 @zooba              Python
#####
#####
##### REVIEW REQUIREMENTS:
##### * The author of the PR is not a valid reviewer.
##### * All general guidelines must be approved by three architects (other than the author).
##### * All per-language guidelines must be approved by the assigned language architect plus
#####     one other language-specific person.  If the assigned language architect is the author
#####     of the PR, then only one other language-specific person needs to approve the PR.
##### * Engineering Systems PRs must be approved by two engineering systems team members.
#####

# Engineering systems documents
docs/android/                @adrianhall @kyle-patterson @JonathanGiles
docs/clang/                  @kyle-patterson @JeffreyRichter
docs/cpp/                    @kyle-patterson @JeffreyRichter
docs/dotnet/                 @KrzysztofCwalina
docs/general/                @kyle-patterson
docs/golang/                 @JeffreyRichter
docs/java/                   @JonathanGiles
docs/policies/               @maggiepint @Kurtzeborn @weshaggard @mikeharder
docs/python/                 @johanste
docs/redirects/              @kyle-patterson
docs/tables/                 @kyle-patterson
docs/typescript/             @bterlson
eng/                         @weshaggard
releases/                    @kyle-patterson @loarabia @czubair @jeremymeng @alzimmermsft @ShivangiReja @xiangyan99
_posts/                      @kyle-patterson @loarabia
_data/                       @czubair @weshaggard
