Repository Azure/azure-sdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @adrianhall, @kyle-patterson, @JonathanGiles, @JeffreyRichter, @KrzysztofCwalina, @maggiepint, @Kurtzeborn, @weshaggard, @mikeharder, @johanste, @bterlson, @loarabia, @czubair, @jeremymeng, @alzimmermsft, @ShivangiReja, @xiangyan99

.github/CODEOWNERS:

#####
##### TEAM:
#####
#####   Architecture:
#####       Brian Terlson               @bterlson           TypeScript / JavaScript
#####       Jeffrey Richter             @JeffreyRichter     At large
#####       Jonathan Giles              @JonathanGiles      Java
#####       Krzysztof Cwalina           @KrzysztofCwalina   .NET
#####       Johan Stenberg              @johanste           Python
#####       Gor Nishanov                @gornishanov        C / C++
#####       Kyle Patterson              @kyle-patterson     Program Management
#####
#####   Engineering Systems:
#####       Maggie Pint                 @maggiepint         Program Management
#####       Mike Harder                 @mikeharder         Eng. Sys. Engineer
#####       Wes Haggard                 @weshaggard         Eng. Sys. Engineer
#####
#####   Team Management:
#####       Peter Marcu                 @petermarcu         Dev Management
#####       Larry Olson                 @loarabia           PM Management
#####       Scott Kurtzeborn            @Kurtzeborn         Eng. Sys. Dev Lead
#####       Alex Ghiondea               @AlexGhiondea       Dev Lead - TS and .NET
#####       Mayuri Diwan                @mayurid            Dev Lead - Python and Java
#####
#####   External language experts:
#####       Anna Tisch                  @annatisch          Python
#####       Asir Vedamuthu Selvasingh   @Selvasingh         Java
#####       Brian Holt                  @btholt             JavaScript
#####       Bruno Borges                @brunoborges        Java
#####       Bryan Van de Ven            @bryevdv            Python
#####       Chris Dias                  @chrisdias          JavaScript
#####       David Fowler                @davidfowl          .NET
#####       Daniel Moth                 @DanielMoth         Python
#####       Matt Hernandez              @fiveisprime        JavaScript
#####       Steve Dower                 @zooba              Python
#####
#####
##### REVIEW REQUIREMENTS:
##### * The author of the PR is not a valid reviewer.
##### * All general guidelines must be approved by three architects (other than the author).
##### * All per-language guidelines must be approved by the assigned language architect plus
#####     one other language-specific person.  If the assigned language architect is the author
#####     of the PR, then only one other language-specific person needs to approve the PR.
##### * Engineering Systems PRs must be approved by two engineering systems team members.
#####

# Engineering systems documents
docs/android/                @adrianhall @kyle-patterson @JonathanGiles
docs/clang/                  @kyle-patterson @JeffreyRichter
docs/cpp/                    @kyle-patterson @JeffreyRichter
docs/dotnet/                 @KrzysztofCwalina
docs/general/                @kyle-patterson
docs/golang/                 @JeffreyRichter
docs/java/                   @JonathanGiles
docs/policies/               @maggiepint @Kurtzeborn @weshaggard @mikeharder
docs/python/                 @johanste
docs/redirects/              @kyle-patterson
docs/tables/                 @kyle-patterson
docs/typescript/             @bterlson
eng/                         @weshaggard
releases/                    @kyle-patterson @loarabia @czubair @jeremymeng @alzimmermsft @ShivangiReja @xiangyan99
_posts/                      @kyle-patterson @loarabia
_data/                       @czubair @weshaggard

Update java.md
  releases/2020-07/java.md
Owners: @kyle-patterson, @loarabia, @czubair, @jeremymeng, @alzimmermsft, @ShivangiReja, @xiangyan99

Update search July release notes (#1559)
  releases/2020-07/java.md
Owners: @kyle-patterson, @loarabia, @czubair, @jeremymeng, @alzimmermsft, @ShivangiReja, @xiangyan99

Updated Java README for the KeyVault July 2020 release.
  releases/2020-07/java.md
Owners: @kyle-patterson, @loarabia, @czubair, @jeremymeng, @alzimmermsft, @ShivangiReja, @xiangyan99

Updated Java README for the KeyVault July 2020 release. (#1560)
  releases/2020-07/java.md
Owners: @kyle-patterson, @loarabia, @czubair, @jeremymeng, @alzimmermsft, @ShivangiReja, @xiangyan99

update identitiy release notes july 2020
  releases/2020-07/java.md
Owners: @kyle-patterson, @loarabia, @czubair, @jeremymeng, @alzimmermsft, @ShivangiReja, @xiangyan99

Updated Java README for the KeyVault July 2020 beta release.
  releases/2020-07/java.md
Owners: @kyle-patterson, @loarabia, @czubair, @jeremymeng, @alzimmermsft, @ShivangiReja, @xiangyan99

simpler implementation
  _includes/releases/pkgrow.md
  _includes/releases/variables/dotnet.md
  _includes/releases/variables/java.md
  _includes/releases/variables/js.md
  _includes/releases/variables/python.md
Owners: @kyle-patterson, @loarabia, @czubair, @jeremymeng, @alzimmermsft, @ShivangiReja, @xiangyan99

we shouldn't autogenerate if we've placed a custom URL
  _includes/releases/pkgrow.md
Owners: @kyle-patterson, @loarabia, @czubair, @jeremymeng, @alzimmermsft, @ShivangiReja, @xiangyan99

Updated Java README for the KeyVault July 2020 beta release. (#1562)
  releases/2020-07/java.md
Owners: @kyle-patterson, @loarabia, @czubair, @jeremymeng, @alzimmermsft, @ShivangiReja, @xiangyan99

addressfeedback
  releases/2020-07/java.md
Owners: @kyle-patterson, @loarabia, @czubair, @jeremymeng, @alzimmermsft, @ShivangiReja, @xiangyan99

update identity release notes july 2020 (#1561)
  releases/2020-07/java.md
Owners: @kyle-patterson, @loarabia, @czubair, @jeremymeng, @alzimmermsft, @ShivangiReja, @xiangyan99

Adding storage updates (#1534)
  releases/2020-07/dotnet.md
  releases/2020-07/java.md
  releases/2020-07/js.md
  releases/2020-07/python.md
Owners: @kyle-patterson, @loarabia, @czubair, @jeremymeng, @alzimmermsft, @ShivangiReja, @xiangyan99

Update package index with latest published versions
  _data/allpackages/dotnet-packages.csv
  _data/allpackages/java-packages.csv
  _data/allpackages/js-packages.csv
  _data/allpackages/python-packages.csv
  _data/releases/latest/dotnet-packages.csv
  _data/releases/latest/java-packages.csv
  _data/releases/latest/js-packages.csv
  _data/releases/latest/python-packages.csv
Owners: @czubair, @weshaggard

handle NA as a special case. we can't just treat it as preview
  _includes/releases/pkgrow.md
Owners: @kyle-patterson, @loarabia, @czubair, @jeremymeng, @alzimmermsft, @ShivangiReja, @xiangyan99

Handle preview-only packages in the link checker (#1495)
  _includes/releases/pkgrow.md
  _includes/releases/variables/dotnet.md
  _includes/releases/variables/java.md
  _includes/releases/variables/js.md
  _includes/releases/variables/python.md
  eng/scripts/Update-Release-Versions.ps1
Owners: @kyle-patterson, @loarabia, @czubair, @jeremymeng, @alzimmermsft, @ShivangiReja, @xiangyan99, @weshaggard

Update package index with latest published versions (#1551)
  _data/allpackages/dotnet-packages.csv
  _data/allpackages/java-packages.csv
  _data/allpackages/js-packages.csv
  _data/allpackages/python-packages.csv
  _data/releases/latest/dotnet-packages.csv
  _data/releases/latest/java-packages.csv
  _data/releases/latest/js-packages.csv
  _data/releases/latest/python-packages.csv
Owners: @czubair, @weshaggard

Form Recognizer blog update for 1.0.0-beta.4 (#1526)
  _posts/2020-05-19-formrecognizer.md
Owners: @kyle-patterson, @loarabia

Update package index with latest published versions
  _data/allpackages/dotnet-packages.csv
  _data/allpackages/java-packages.csv
  _data/allpackages/js-packages.csv
  _data/allpackages/python-packages.csv
  _data/releases/latest/dotnet-packages.csv
  _data/releases/latest/java-packages.csv
  _data/releases/latest/js-packages.csv
  _data/releases/latest/python-packages.csv
Owners: @czubair, @weshaggard

Update package index with latest published versions (#1569)
  _data/allpackages/dotnet-packages.csv
  _data/allpackages/java-packages.csv
  _data/allpackages/js-packages.csv
  _data/allpackages/python-packages.csv
  _data/releases/latest/dotnet-packages.csv
  _data/releases/latest/java-packages.csv
  _data/releases/latest/js-packages.csv
  _data/releases/latest/python-packages.csv
Owners: @czubair, @weshaggard

Add new release folder structure (#1558)
  _data/sidebars/releases_sidebar.yml
  releases/2020-08/dotnet.md
  releases/2020-08/index.md
  releases/2020-08/java.md
  releases/2020-08/js.md
  releases/2020-08/python.md
Owners: @czubair, @weshaggard, @kyle-patterson, @loarabia, @jeremymeng, @alzimmermsft, @ShivangiReja, @xiangyan99

Revert "Add new release folder structure (#1558)"
  _data/sidebars/releases_sidebar.yml
  releases/2020-08/dotnet.md
  releases/2020-08/index.md
  releases/2020-08/java.md
  releases/2020-08/js.md
  releases/2020-08/python.md
Owners: @czubair, @weshaggard, @kyle-patterson, @loarabia, @jeremymeng, @alzimmermsft, @ShivangiReja, @xiangyan99

Revert "Add new release folder structure (#1558)" (#1570)
  _data/sidebars/releases_sidebar.yml
  releases/2020-08/dotnet.md
  releases/2020-08/index.md
  releases/2020-08/java.md
  releases/2020-08/js.md
  releases/2020-08/python.md
Owners: @czubair, @weshaggard, @kyle-patterson, @loarabia, @jeremymeng, @alzimmermsft, @ShivangiReja, @xiangyan99

Create client-lifetime-management.md
  _posts/client-lifetime-management.md
Owners: @kyle-patterson, @loarabia

Update client-lifetime-management.md
  _posts/client-lifetime-management.md
Owners: @kyle-patterson, @loarabia

Switch to request HEAD instead of Get
  eng/scripts/Verify-Links.ps1
Owners: @weshaggard

Update _posts/client-lifetime-management.md
  _posts/client-lifetime-management.md
Owners: @kyle-patterson, @loarabia

Update _posts/client-lifetime-management.md
  _posts/client-lifetime-management.md
Owners: @kyle-patterson, @loarabia

Apply suggestions from code review
  _posts/client-lifetime-management.md
Owners: @kyle-patterson, @loarabia

Fallback to GET request if HEAD request fails
  eng/scripts/Verify-Links.ps1
Owners: @weshaggard

Switch to request HEAD instead of Get (#1574)
  eng/scripts/Verify-Links.ps1
Owners: @weshaggard

Add www to slf4j to fix cert issue.
  docs/java/approved_dependencies.md
Owners: @JonathanGiles

Update package index with latest published versions
  _data/allpackages/java-packages.csv
  _data/allpackages/js-packages.csv
  _data/releases/latest/js-packages.csv
Owners: @czubair, @weshaggard

Add www to slf4j to fix cert issue. (#1576)
  docs/java/approved_dependencies.md
Owners: @JonathanGiles

Update package index with latest published versions (#1577)
  _data/allpackages/java-packages.csv
  _data/allpackages/js-packages.csv
  _data/releases/latest/js-packages.csv
Owners: @czubair, @weshaggard

Update client-lifetime-management.md
  _posts/client-lifetime-management.md
Owners: @kyle-patterson, @loarabia

Update client-lifetime-management.md
  _posts/client-lifetime-management.md
Owners: @kyle-patterson, @loarabia

Update client-lifetime-management.md
  _posts/client-lifetime-management.md
Owners: @kyle-patterson, @loarabia

Update client-lifetime-management.md
  _posts/client-lifetime-management.md
Owners: @kyle-patterson, @loarabia

Update opensource.md
  docs/policies/opensource.md
Owners: @maggiepint, @Kurtzeborn, @weshaggard, @mikeharder

Update client-lifetime-management.md
  _posts/client-lifetime-management.md
Owners: @kyle-patterson, @loarabia
