Repository Azure/azure-sdk, pull requests merged in 2023-05, with the labels that each got.

#6009 Add new release folder structure
  releases/2023-05/android.md
  releases/2023-05/c.md
  releases/2023-05/cpp.md
  releases/2023-05/dotnet.md
  releases/2023-05/go.md
  releases/2023-05/index.md
  releases/2023-05/ios.md
  releases/2023-05/java.md
  releases/2023-05/js.md
  releases/2023-05/python.md
Labels: auto-merge

#6015 Sync .github/workflows directory with azure-sdk-tools for PR 6101
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Labels: EngSys, Central-EngSys

#6172 C++ guidelines: update `_detail` namespace naming (missed occurrence)
  docs/cpp/introduction.md
Labels: Docs

#6173 C++ guidelines: fix more instances of `_detail` namespace naming
  docs/cpp/introduction.md
Labels: Docs
